# Neon Database URL
DATABASE_URL="postgresql://user:password@ep-....neon.tech/dbname?sslmode=require"

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development

# Expo Public Domain (for client)
EXPO_PUBLIC_DOMAIN=localhost:5000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dqaga1s2u
CLOUDINARY_API_KEY=341773489813215
CLOUDINARY_API_SECRET=jMK3wZ-gGjheQylT1Nw4Un0KEew
CLOUDINARY_UPLOAD_PRESET=ml_default
